# Root ignore
.vscode/
.idea/
.DS_Store

# Java / Maven
**/target/
**/.settings/
**/.classpath
**/.project
**/.factorypath
**/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# OS files
Thumbs.db

# Generated docs from initializr
**/HELP.md
OpenJDK17U-jdk_x64_windows_hotspot_17.0.18_8

